<input type="text" #movieSearchInput class="form-control"
placeholder="Type any user name" />
<div>
  <table>
    <tr *ngFor="let user of users">
      <th>{{ user.firstName}}</th>
      <th>{{ user.lastName}}</th>
    </tr>
  </table>

</div>

<button type="button"
(click)="addUser()"
class="btn btn-primary pull-right"
style="margin-left:12px;"><i class="fa fa-plus"></i> Add User
</button>

<button type="button"
(click)="manageUsers()"
class="btn btn-primary pull-right"
style="margin-left:20px;"><i class="fa fa-plus"></i> Manage Users
</button>

<button type="button"
(click)="manageRoles()"
class="btn btn-primary pull-right"
style="margin-left:20px;"><i class="fa fa-plus"></i> Manage Roles
</button>
