<div class="container">
    <div class="row login">
      <div class="col-md-6 mx-auto">
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h5 class="mb-0">Register</h5>
          </div>
          <div class="card-body">
            <mat-card class="my-card">
              <mat-card-content>
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label>First Name</label>
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control"
                      required="true"
                    />
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label>User Name</label>
                    <input
                      type="text"
                      formControlName="userName"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="text"
                      formControlName="password"
                      class="form-control"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Edit</button>
                  <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                  <button (click)="addRoles()" type="button" class="btn btn-primary">Primary</button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
