.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.login {
  padding-top: 10%;
}

.btn:disabled {
  cursor: not-allowed;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
