<div id="message" class="alert alert-success" *ngIf='message' role="alert">{{message}}
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<div>
<input type="text" #movieSearchInput class="form-control"
placeholder="Type any user name" />
</div>
<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> lastName </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button (click)="editUser(row)" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        <button  (click)="deleteUser(row)" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
            <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button  (click)="manageRoles(row)" mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
          <mat-icon aria-label="role">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>



</div>
